{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Hello, <em>{{ app.user.username }}</em>.</span></h1>
            </div>

            {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                <div id="switch-back">
                    I am not feeling myself lately. <a href="{{ path('homepage', {'impersonate': '_exit'}) }}">Go back to myself!</a>
                </div>
            {% endif %}

            <h2>Try to impersonate:</h2>
            <ul>
                <li><a href="{{ path('homepage', {'impersonate': 'mona'}) }}">mona</a>. <em>mona</em>'s parent is <em>parent</em>.</li>
                <li><a href="{{ path('homepage', {'impersonate': 'lisa'}) }}">lisa</a>. <em>lisa</em>'s parent is <em>parent</em>.</li>
                <li><a href="{{ path('homepage', {'impersonate': 'vlad'}) }}">vlad</a>. <em>vlad</em>'s parent is <em>admin</em>.</li>
                <li><a href="{{ path('homepage', {'impersonate': 'parent'}) }}">parent</a>. <em>parent</em> has no parent.</li>
                <li><a href="{{ path('homepage', {'impersonate': 'admin'}) }}">admin</a>. <em>admin</em> has no parent.</li>
            </ul>

            <p><a href="{{ path('fos_user_security_logout') }}">Logout</a></p>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #switch-back { padding: 10px 20px; margin-bottom:20px; background-color: black; color: white; text-align: center; font-weight: bold; }
</style>
{% endblock %}
